
.header-container{
    padding: 50px 100px 50px 30px;
    background: #E76F51;
}


.name-container{
    text-align: left;
    font-family: "Roboto", monospace;
    font-size: 200%;
    color: black;


}

